<?xml version="1.0" ?>
<robot name="frigo">
  <material name="White">
    <color rgba="1.0 1.0 1.0 1.0"/>
  </material>
  <link name="frigo__frigo_link">
    <inertial>
      <mass value="50"/>
      <origin xyz="0  0  0.9" rpy="0 0 0"/>
      <inertia ixx="5" ixy="0" ixz="0" iyy="5" iyz="0" izz="5"/>
    </inertial>
    <collision name="frigo__frigo_link_collision">
      <origin xyz="3.6  5.75  0.9" rpy="0 0 0"/>
      <geometry>
        <box size="0.6 0.6 1.8"/>
      </geometry>
    </collision>
    <visual name="frigo__frigo_link_visual">
      <origin xyz="3.6  5.75  0.9" rpy="0 0 0"/>
      <geometry>
        <box size="0.6 0.6 1.8"/>
      </geometry>
      <material name="White"/>
    </visual>
  </link>
</robot>
