<?xml version="1.0" ?>
<robot name="cama">
  <material name="White">
    <color rgba="1.0 1.0 1.0 1.0"/>
  </material>
  <link name="cama__cama_link">
    <inertial>
      <mass value="51"/>
      <origin xyz="-0.01764 0 0.2049" rpy="0 0 0"/>
      <inertia ixx="10.1613" ixy="0" ixz="-0.220588" iyy="10.9554" iyz="0" izz="10.8941"/>
    </inertial>
    <collision name="cama__cama_link_collision">
      <origin xyz="1.6  7.41  0.2" rpy="0    0   -1.57"/>
      <geometry>
        <box size="2.1 1.5 0.4"/>
      </geometry>
    </collision>
    <collision name="cama__cama_link_collision_almohada_link">
      <origin xyz="1.59928 8.31     0.45" rpy="0    0   -1.57"/>
      <geometry>
        <box size="0.3 1.5 0.1"/>
      </geometry>
    </collision>
    <visual name="cama__cama_link_visual">
      <origin xyz="1.6  7.41  0.2" rpy="0    0   -1.57"/>
      <geometry>
        <box size="2.1 1.5 0.4"/>
      </geometry>
      <material name="White"/>
    </visual>
    <visual name="cama__cama_link_visual_almohada_link">
      <origin xyz="1.59928 8.31     0.45" rpy="0    0   -1.57"/>
      <geometry>
        <box size="0.3 1.5 0.1"/>
      </geometry>
      <material name="White"/>
    </visual>
  </link>
</robot>
