<?xml version="1.0" ?>
<robot name="mesa_comedor">
  <material name="BlueTransparent">
    <color rgba="0.0 0.0 1.0 0.5"/>
  </material>
  <material name="wood">
    <texture filename="textures/wood.png"/>
  </material>
  <link name="mesa_comedor__mesa_link">
    <inertial>
      <mass value="7"/>
      <origin xyz="0      0      0.51357" rpy="0 0 0"/>
      <inertia ixx="1.28229" ixy="0" ixz="5.70179e-17" iyy="3.10629" iyz="0" izz="3.4192"/>
    </inertial>
    <collision name="mesa_comedor__mesa_link_collision">
      <origin xyz="-7.4   -5     0.725" rpy="0   0   1.57"/>
      <geometry>
        <box size="1.6 0.8 0.03"/>
      </geometry>
    </collision>
    <collision name="mesa_comedor__mesa_link_collision_pata_1_link">
      <origin xyz="-7.76938 -4.2297   0.355" rpy="0   0   1.57"/>
      <geometry>
        <box size="0.06 0.06 0.71"/>
      </geometry>
    </collision>
    <collision name="mesa_comedor__mesa_link_collision_pata_2_link">
      <origin xyz="-7.02938 -4.23029  0.355" rpy="0   0   1.57"/>
      <geometry>
        <box size="0.06 0.06 0.71"/>
      </geometry>
    </collision>
    <collision name="mesa_comedor__mesa_link_collision_pata_3_link">
      <origin xyz="-7.03061 -5.77029  0.355" rpy="0   0   1.57"/>
      <geometry>
        <box size="0.06 0.06 0.71"/>
      </geometry>
    </collision>
    <collision name="mesa_comedor__mesa_link_collision_pata_4_link">
      <origin xyz="-7.77061 -5.7697   0.355" rpy="0   0   1.57"/>
      <geometry>
        <box size="0.06 0.06 0.71"/>
      </geometry>
    </collision>
    <visual name="mesa_comedor__mesa_link_visual">
      <origin xyz="-7.4   -5     0.725" rpy="0   0   1.57"/>
      <geometry>
        <box size="1.6 0.8 0.03"/>
      </geometry>
      <material name="BlueTransparent"/>
    </visual>
    <visual name="mesa_comedor__mesa_link_visual_pata_1_link">
      <origin xyz="-7.76938 -4.2297   0.355" rpy="0   0   1.57"/>
      <geometry>
        <box size="0.06 0.06 0.71"/>
      </geometry>
      <material name="wood"/>
    </visual>
    <visual name="mesa_comedor__mesa_link_visual_pata_2_link">
      <origin xyz="-7.02938 -4.23029  0.355" rpy="0   0   1.57"/>
      <geometry>
        <box size="0.06 0.06 0.71"/>
      </geometry>
      <material name="wood"/>
    </visual>
    <visual name="mesa_comedor__mesa_link_visual_pata_3_link">
      <origin xyz="-7.03061 -5.77029  0.355" rpy="0   0   1.57"/>
      <geometry>
        <box size="0.06 0.06 0.71"/>
      </geometry>
      <material name="wood"/>
    </visual>
    <visual name="mesa_comedor__mesa_link_visual_pata_4_link">
      <origin xyz="-7.77061 -5.7697   0.355" rpy="0   0   1.57"/>
      <geometry>
        <box size="0.06 0.06 0.71"/>
      </geometry>
      <material name="wood"/>
    </visual>
  </link>
</robot>
