<?xml version="1.0" ?>
<robot name="silla_1">
  <material name="Gray">
    <color rgba="0.175 0.175 0.175 1.0"/>
  </material>
  <material name="wood">
    <texture filename="textures/wood.png"/>
  </material>
  <link name="silla_1__silla_link">
    <inertial>
      <mass value="2"/>
      <origin xyz="-0.0215 0     0.353" rpy="0 0 0"/>
      <inertia ixx="0.674432" ixy="0" ixz="-0.012986" iyy="0.682753" iyz="0" izz="0.675561"/>
    </inertial>
    <collision name="silla_1__silla_link_collision">
      <origin xyz="7.1   5.4    0.415" rpy="0 0 0"/>
      <geometry>
        <box size="0.45 0.45 0.03"/>
      </geometry>
    </collision>
    <collision name="silla_1__silla_link_collision_pata_1_link">
      <origin xyz="6.895 5.195  0.2" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.04 0.4"/>
      </geometry>
    </collision>
    <collision name="silla_1__silla_link_collision_pata_2_link">
      <origin xyz="6.895 5.605  0.2" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.04 0.4"/>
      </geometry>
    </collision>
    <collision name="silla_1__silla_link_collision_pata_3_link">
      <origin xyz="7.305 5.605  0.2" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.04 0.4"/>
      </geometry>
    </collision>
    <collision name="silla_1__silla_link_collision_pata_4_link">
      <origin xyz="7.305 5.195  0.2" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.04 0.4"/>
      </geometry>
    </collision>
    <collision name="silla_1__silla_link_collision_respaldo_link">
      <origin xyz="6.885 5.4    0.655" rpy="0 0 0"/>
      <geometry>
        <box size="0.02 0.45 0.45"/>
      </geometry>
    </collision>
    <visual name="silla_1__silla_link_visual">
      <origin xyz="7.1   5.4    0.415" rpy="0 0 0"/>
      <geometry>
        <box size="0.45 0.45 0.03"/>
      </geometry>
      <material name="Gray"/>
    </visual>
    <visual name="silla_1__silla_link_visual_pata_1_link">
      <origin xyz="6.895 5.195  0.2" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.04 0.4"/>
      </geometry>
      <material name="wood"/>
    </visual>
    <visual name="silla_1__silla_link_visual_pata_2_link">
      <origin xyz="6.895 5.605  0.2" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.04 0.4"/>
      </geometry>
      <material name="wood"/>
    </visual>
    <visual name="silla_1__silla_link_visual_pata_3_link">
      <origin xyz="7.305 5.605  0.2" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.04 0.4"/>
      </geometry>
      <material name="wood"/>
    </visual>
    <visual name="silla_1__silla_link_visual_pata_4_link">
      <origin xyz="7.305 5.195  0.2" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.04 0.4"/>
      </geometry>
      <material name="wood"/>
    </visual>
    <visual name="silla_1__silla_link_visual_respaldo_link">
      <origin xyz="6.885 5.4    0.655" rpy="0 0 0"/>
      <geometry>
        <box size="0.02 0.45 0.45"/>
      </geometry>
      <material name="wood"/>
    </visual>
  </link>
</robot>
