<?xml version="1.0" ?>
<robot name="sofa_x1_2_salon">
  <material name="Gray">
    <color rgba="0.175 0.175 0.175 1.0"/>
  </material>
  <link name="sofa_x1_2_salon__sofa_link">
    <inertial>
      <mass value="8"/>
      <origin xyz="0      0.01875 0.30937" rpy="0 0 0"/>
      <inertia ixx="0.705859" ixy="0" ixz="0" iyy="0.886172" iyz="-0.0385938" izz="0.709687"/>
    </inertial>
    <collision name="sofa_x1_2_salon__sofa_link_collision">
      <origin xyz="-7.1   -0.6    0.175" rpy="0   0   1.57"/>
      <geometry>
        <box size="0.9 0.8 0.35"/>
      </geometry>
    </collision>
    <collision name="sofa_x1_2_salon__sofa_link_collision_brazo_1_link">
      <origin xyz="-7.04972 -0.25004  0.45" rpy="0   0   1.57"/>
      <geometry>
        <box size="0.2 0.7 0.2"/>
      </geometry>
    </collision>
    <collision name="sofa_x1_2_salon__sofa_link_collision_brazo_2_link">
      <origin xyz="-7.05027 -0.95004  0.45" rpy="0   0   1.57"/>
      <geometry>
        <box size="0.2 0.7 0.2"/>
      </geometry>
    </collision>
    <collision name="sofa_x1_2_salon__sofa_link_collision_respaldo_link">
      <origin xyz="-7.35   -0.5998  0.55" rpy="0   0   1.57"/>
      <geometry>
        <box size="0.9 0.3 0.4"/>
      </geometry>
    </collision>
    <visual name="sofa_x1_2_salon__sofa_link_visual">
      <origin xyz="-7.1   -0.6    0.175" rpy="0   0   1.57"/>
      <geometry>
        <box size="0.9 0.8 0.35"/>
      </geometry>
      <material name="Gray"/>
    </visual>
    <visual name="sofa_x1_2_salon__sofa_link_visual_brazo_1_link">
      <origin xyz="-7.04972 -0.25004  0.45" rpy="0   0   1.57"/>
      <geometry>
        <box size="0.2 0.7 0.2"/>
      </geometry>
      <material name="Gray"/>
    </visual>
    <visual name="sofa_x1_2_salon__sofa_link_visual_brazo_2_link">
      <origin xyz="-7.05027 -0.95004  0.45" rpy="0   0   1.57"/>
      <geometry>
        <box size="0.2 0.7 0.2"/>
      </geometry>
      <material name="Gray"/>
    </visual>
    <visual name="sofa_x1_2_salon__sofa_link_visual_respaldo_link">
      <origin xyz="-7.35   -0.5998  0.55" rpy="0   0   1.57"/>
      <geometry>
        <box size="0.9 0.3 0.4"/>
      </geometry>
      <material name="Gray"/>
    </visual>
  </link>
</robot>
