<?xml version="1.0" ?>
<robot name="sofa_x2_salon">
  <material name="Gray">
    <color rgba="0.175 0.175 0.175 1.0"/>
  </material>
  <link name="sofa_x2_salon__sofa_link">
    <inertial>
      <mass value="13"/>
      <origin xyz="0      0.01153 0.25769" rpy="0 0 0"/>
      <inertia ixx="0.7625" ixy="0" ixz="0" iyy="1.67673" iyz="-0.0463462" izz="1.44577"/>
    </inertial>
    <collision name="sofa_x2_salon__sofa_link_collision">
      <origin xyz="-5.8   -1.7    0.175" rpy="0   0   3.14"/>
      <geometry>
        <box size="1.6 0.8 0.35"/>
      </geometry>
    </collision>
    <collision name="sofa_x2_salon__sofa_link_collision_brazo_1_link">
      <origin xyz="-6.49991 -1.64888  0.45" rpy="0   0   3.14"/>
      <geometry>
        <box size="0.2 0.7 0.2"/>
      </geometry>
    </collision>
    <collision name="sofa_x2_salon__sofa_link_collision_brazo_2_link">
      <origin xyz="-5.09992 -1.65111  0.45" rpy="0   0   3.14"/>
      <geometry>
        <box size="0.2 0.7 0.2"/>
      </geometry>
    </collision>
    <collision name="sofa_x2_salon__sofa_link_collision_respaldo_link">
      <origin xyz="-5.80039 -1.95     0.55" rpy="0   0   3.14"/>
      <geometry>
        <box size="1.6 0.3 0.4"/>
      </geometry>
    </collision>
    <visual name="sofa_x2_salon__sofa_link_visual">
      <origin xyz="-5.8   -1.7    0.175" rpy="0   0   3.14"/>
      <geometry>
        <box size="1.6 0.8 0.35"/>
      </geometry>
      <material name="Gray"/>
    </visual>
    <visual name="sofa_x2_salon__sofa_link_visual_brazo_1_link">
      <origin xyz="-6.49991 -1.64888  0.45" rpy="0   0   3.14"/>
      <geometry>
        <box size="0.2 0.7 0.2"/>
      </geometry>
      <material name="Gray"/>
    </visual>
    <visual name="sofa_x2_salon__sofa_link_visual_brazo_2_link">
      <origin xyz="-5.09992 -1.65111  0.45" rpy="0   0   3.14"/>
      <geometry>
        <box size="0.2 0.7 0.2"/>
      </geometry>
      <material name="Gray"/>
    </visual>
    <visual name="sofa_x2_salon__sofa_link_visual_respaldo_link">
      <origin xyz="-5.80039 -1.95     0.55" rpy="0   0   3.14"/>
      <geometry>
        <box size="1.6 0.3 0.4"/>
      </geometry>
      <material name="Gray"/>
    </visual>
  </link>
</robot>
